<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
</head>
<body>
    <h1>Welcome <%= user.name %></h1>
    <h2>Email: <%= user.email %></h2>
    <h3>City: <%= user.city %></h3>
    <ul>
        <% user.skills.forEach(function(item) { %>
            <li><%= item %></li>
        <% }) %>
    </ul>
</body>
</html>
